*{
   margin: 0;
   padding: 0;
}

.main{
   width: 100%;
   background: linear-gradient(to top, rgba(0,0,0,0.5)50%,rgba(0,0,0,0.5)50%), url(1.jpg);
   background-position: center;
   background-size: cover;
   height: 100vh;
}

.navbar{
   width: 1200px;
   height: 75px;
   margin: auto;
}

.icon{
   width: 200px;
   float: left;
   height: 70px;
}

.logo{
   color: #ff7200;
   font-size: 35px;
   font-family: Arial;
   padding-left: 20px;
   float: left;
   padding-top: 10px;
   margin-top: 5px
}

.menu{
   width: 400px;
   float: left;
   height: 70px;
}

ul{
   float: left;
   display: flex;
   justify-content: center;
   align-items: center;
}

ul li{
   list-style: none;
   margin-left: 62px;
   margin-top: 27px;
   font-size: 14px;
}

ul li a{
   text-decoration: none;
   color: #fff;
   font-family: Arial;
   font-weight: bold;
   transition: 0.4s ease-in-out;
}

ul li a:hover{
   color: #ff7200;
}

.search{
   width: 330px;
   float: left;
   margin-left: 270px;
}

.srch{
   font-family: 'Times New Roman';
   width: 200px;
   height: 40px;
   background: transparent;
   border: 1px solid #ff7200;
   margin-top: 13px;
   color: #fff;
   border-right: none;
   font-size: 16px;
   float: left;
   padding: 10px;
   border-bottom-left-radius: 5px;
   border-top-left-radius: 5px;
}

.btn{
   width: 100px;
   height: 40px;
   background: #ff7200;
   border: 2px solid #ff7200;
   margin-top: 13px;
   color: #fff;
   font-size: 15px;
   border-bottom-right-radius: 5px;
   border-bottom-right-radius: 5px;
   transition: 0.2s ease;
   cursor: pointer;
}
.btn:hover{
   color: #000;
}

.btn:focus{
   outline: none;
}

.srch:focus{
   outline: none;
}
.form input:focus{
   outline: none;
}

::placeholder{
   color: #fff;
   font-family: Arial;
}
.form{
   width: 250px;
   height: 380px;
   background: linear-gradient(to top, rgba(0,0,0,0.8)50%,rgba(0,0,0,0.8)50%);
   position: absolute;
   top: -20px;
   left: 870px;
   transform: translate(0%,-5%);
   border-radius: 10px;
   padding: 25px;
}

.form h2{
   width: 220px;
   font-family: sans-serif;
   text-align: center;
   color: #ff7200;
   font-size: 22px;
   background-color: #fff;
   border-radius: 10px;
   margin: 2px;
   padding: 8px;
}



.form input:focus{
   outline: none;
}

::placeholder{
   color: #fff;
   font-family: Arial;
}
.content .par{
   font-style: italic;
   font-size: x-large;
   color: #fff;
   margin-top: -270px;
}
.content .h1{
   color: #fff;
   font-size: 35px;
   text-decoration-line: underline;
   text-decoration-color: #ff7200;
   text-underline-offset: 0.4em;
}
.img{
   margin-left: 590px;
   margin-top: 70px;
}
.btnn{
   border-radius: 5px;
   background: #ff7200;
   margin-top: 10px;
   font-size: 15px;
   width: 100px;
    height: 40px;
    border-color: #ff7200;
    color:#000;
    margin-left: 400px;
}
.btnn:hover{
   background: #fff;
   transition: .4s ease;
   border-color: #fff;
}

