*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: url(./bg.jpg);
}

/* Form */
.form {
    background: #fff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 1px 4px 10px rgba(0, 0, 0, 0.3);
    max-width: 400px;
    margin: 20px auto;
    margin-top: 10rem;
    text-align: center;
}

.form h2 {
    margin-bottom: 20px;
    color: #333;
}

.form input[type="email"],
.form input[type="password"] {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
}

.btnn {
    width: 100%;
    padding: 12px;
    background: #ff7200;
    color: #fff;
    border: none;
    text-decoration: none;
    font-size: large;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;
    margin-top: 20px;
}

.btnn:hover {
    background: #ff9c42;
}

.link {
    margin-top: 20px;
    font-size: 16px;
}

.link a {
    color: #ff7200;
    text-decoration: underline;
}

.liw {
    font-size: 16px;
    margin-top: 20px;
    color: #333;
}

/* Social Media Icons */
.icons a {
    color: #333;
    font-size: 24px;
    margin: 0 10px;
    transition: color 0.3s;
}

.icons a:hover {
    color: #ff7200;
}