*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(#ff7200,#121212);
    color: black;
    transition: background-color 0.3s, color 0.3s;
}
.free{
    font-size: larger;
    color: #fff;

}
.btnn {
    padding: 10px 10px;
    background-color: #ff7200; /* Button color */
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 6px;
    text-decoration: none;
 }
 
 .btnn:hover {
    background-color: #e55d00; /* Button hover effect */
 }